---
layout: layouts/base
eleventyComputed:
  title: "{{ metadata.name }}"
---

<h1>{{ metadata.name }}</h1>

<p>{{ metadata.bio }}</p>

<ul>
  {%- for link in metadata.links -%}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {%- endfor -%}
</ul>

<h2>Projects</h2>

<ul>
  {%- for project in metadata.projects -%}
    <li>
      <a href="{{ project.url }}">{{ project.title }}</a>
      <span>{{ project.description }}</span>
    </li>
  {%- endfor -%}
</ul>

<h2>Notes</h2>

<ul>
  {%- for note in collections.note | reverse -%}
    <li>
      <a href="{{note.url}}">{{ note.data.title }}</a>
      <span>Updated on {{note.date.toDateString() }}</span>
    </li>
  {%- endfor -%}
</ul>