---
layout: base
title: My Rad Blog
date: Last Modified
tags: note
permalink: "{{ page.fileSlug }}/index.html"
---

<a href="/">..</a>
<h1>{{ title }}</h1>
{{ page.date.toDateString() }}
{{ content | safe }}
