:root {
  --foreground-default: #000;
  --background-default: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-default: #fff;
    --background-default: #000;
  }
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--foreground-default);
  background-color: var(--background-default);
}

a {
  color: inherit;
}

pre {
  padding: 1rem;
}

code {
  font-size: 1rem;
}

ul {
  padding-left: 1em;
}

.container {
  max-width: 65ch;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
