---
layout: layouts/base
tags: note
permalink: "{{ page.fileSlug }}/index.html"
---

<a href="/">..</a>

<h1>{{ title }}</h1>

<p>Updated on {{ page.date.toDateString() }}</p>

{{ content | safe }}

<a href="https://github.com/colebemis/colebemis.com-eleventy/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a>
